<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key><string>org.onair.dect2</string>
    <key>CFBundleName</key><string>OnAir</string>
    <key>CFBundleExecutable</key><string>dect2</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleVersion</key><string>0.1.5</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSLocationUsageDescription</key><string>OnAir uses the position of this computer as the antenna position on the ADS-B map.</string>
    <key>NSLocationWhenInUseUsageDescription</key><string>OnAir uses the position of this computer as the antenna position on the ADS-B map.</string>
</dict>
</plist>
